<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Komet Sales</title>
		<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
	</head>
	<body>
		<div id="app">
			<b-navbar toggleable="lg" type="dark" variant="info">
				<b-navbar-brand href="#">Komet Sale</b-navbar-brand>
				<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
				<b-collapse id="nav-collapse" is-nav>
					<b-navbar-nav>
						<b-nav-item href="http://localhost:9080/KometSaleFront/">Home</b-nav-item>
					</b-navbar-nav>
				</b-collapse>
			</b-navbar>
			<b-container fluid class="p-4 bg-light">
				<b-card no-body class="overflow-hidden shadow my-5">
					<b-row no-gutters>
						<b-col md="6">
							<b-card-body :title="seller.name">
								<b-card-text>
									<a :href="'mailto:'+seller.email">{{seller.email}}</a>
								</b-card-text>
								<b-row>
									<b-col>
										Percentage: {{seller.percentage}}%
									</b-col>
									<b-col sm="12" class="mt-3">
										Current Commission
									</b-col>
									<b-col sm="12">
										<h2>${{seller.commission}}</h2>
									</b-col>
								</b-row>
							</b-card-body>
						</b-col>
						<b-col md="6">
							<b-img fluid :src="seller.avatar"></b-img>
						</b-col>
					</b-row>
			</b-container>
		</div>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
		<script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
		<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
		<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
		<script>
			new Vue({
				el: '#app',
				data: {
					seller: {},
					message: "Epa",
					file: null
				},
				created() {
					const id = new URL(location.href).searchParams.get("id");
					axios.get('http://localhost:8080/seller/' + id)
						.then(response => {
							console.table(response.data)
							this.seller = response.data;
						})
						.catch(function (error) {
							// error handler
						})
				},
				methods: {
					uploadFile() {
						if (this.file) {
							var formData = new FormData();
							formData.append("file", this.file);
							axios.post('http://localhost:8080/sale/uploadFile', formData, {
								headers: {
									'Content-Type': 'multipart/form-data'
								}
							}).then(() => {
								this.file = null;
							})
						}
					}
				}
			})
		</script>
	</body>
</html>
