<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Komet Sales</title>
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
    </head>

    <body>
        <div id="app">
            <b-navbar toggleable="lg" type="dark" variant="info">
                <b-navbar-brand href="#">Komet Sale</b-navbar-brand>
                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav>
                        <b-nav-item href="http://localhost:9080/KometSaleFront/">Home</b-nav-item>
                    </b-navbar-nav>

                </b-collapse>
            </b-navbar>
            <b-form-file v-model="file" :state="Boolean(file)" placeholder="Choose a file or drop it here..."
                         drop-placeholder="Drop file here..."></b-form-file>
            <b-button variant="success" v-if="file" @click="uploadFile">Upload</b-button>

            <b-container fluid>
                <b-row>
                    <b-col>
                        <b-table
                                striped hover :items="sellers" @row-clicked="goDetail"></b-table>
                    </b-col>
                </b-row>
            </b-container>
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
        <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
        <script>
            new Vue({
                el: '#app',
                data: {
                    sellers: [],
                    message: "Epa",
                    file: null
                },
                created() {
                    axios.get('http://localhost:8080/seller')
                        .then(response => {
                            console.table(response.data)
                            this.sellers = response.data.map(
                                item => {
                                    delete item.avatar;
                                    return item
                                }
                            );
                        })
                        .catch(function (error) {
                            // error handler
                        })
                },
                methods: {
                    uploadFile() {
                        if (this.file) {
                            var formData = new FormData();
                            formData.append("file", this.file);
                            axios.post('http://localhost:8080/sale/uploadFile', formData, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            }).then(() => {
                                this.file = null;
                            })
                        }
                    },
                    goDetail(item, index, event) {
                        console.log(item)
                        location.href = 'detail.html?id=' + item.id
                    }
                }
            })

        </script>
    </body>
</html>
